# vim temp files
*~
*.swp
*.swo
*.vim
# Visual Studio cache directory
.vs/
# Visual Studio Code cache directory
.vscode/
# Visual Studio debug database
*.pdb
# ignored folders
/lime/bin/
/lime/obj/
/demo/bin/
/demo/obj/
tmp/
